@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">Problem !</h2>

<h3>@ViewBag.Message</h3>

<h3 class="text-danger">An error occurred while processing your request.</h3>

<img src="~/image/emp3.png" alt="Error Image" />
