

<div class="text-center">
    <h1 class="text-danger">
        Access Denied
    </h1>
    <h6 class="text-danger">
        You do not have permission to view this resources
    </h6>
    <img src="~/image/emp3.png" style="height:200px; width:200px" />
</div>  